.centerElement{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.halfWidth{
    width: 50%;
}

.floatLeft{
    border-style: solid;
    margin-top: -1px; /* I messed around this because divs being nested caused bordering to be weird
    and I wanted a middle border.*/
    border-right-width: 5px;
    border-top-width: 1px; /* I don't know why 0px top-width messed things up, so I used margin to fix it. */
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-color: black;
    height: 100%;
}

.centerElement{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    height: 98%; /* 98% because I think the 5px causes a scrollbar to appear at 100%. */
}

img{
    width: 100%;
    height: 35%;
}